
*{
  padding: 0px;
}


body{
  margin: 0px 10px;
  background-color:hsl(0, 85%, 5%);
}

header{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  height: 100px;
  box-shadow: 0 4px 8px rgba(114, 51, 51, 0.1);
    background-color: rgba(32, 1, 1, 0.5);

}

header h1{
  color: rgb(169, 161, 161);
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 4px 4px 4px rgba(30, 26, 26, 0.953);
  font-size: medium;
}


header ul{
  list-style: none;
  display: flex;
  gap: 50px;
  color: #e1c4a6;

}

.top {
  background: url(musique2.jpg) center/cover no-repeat;
  height: 17em;
  width: 8;
  display: flex;
  justify-content: center;
  align-items: center; 
  margin-top: 1em;
}

.top h1{
  font-size: 3em;
  color: #ffffff;
  text-shadow: 4px 4px 4px rgba(30, 26, 26, 0.953);
}

.np{
  display: grid;
  grid-template-columns: 70% auto;
  align-items: center;
  }


.niveaux{
  font-size: 20px;
  font-weight: bold;
  color: #d0b8b3;
} 

 .info{
font-size: 16px;
display: block;
float: right;
color: #fff5f5;
} 

article ul{
  margin:  4px 60px;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #99abab;

}


#monitor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  color: antiquewhite;
  }

#monitorInfo{
  background-color: #420505;
  position: relative;
  margin-top:10px ;
  max-width: 45em;
  padding: 5px 40px 5px 40px;
  border-radius: 10px;
}

#shape{
background: url(musaique3.jpg) center no-repeat;
background-size: cover;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  position: absolute;
  top:  -15px;
  left: -27px;
  border: 2px solid #e1c4a6;

}


hr{
  margin: 2em;
}


#types{
  display: flex;
  justify-content: space-between;
  margin: 1.3em;
}

#types > div{
  background-color: #d0b8b3;
  padding: 8px;
  border-radius: 4px;


}h3 {
  color: #d0b8b3;
}
h1{
  color: #ffffff;
}

