<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>ANABIB Purchase Requests</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Welcome to ANABIB Purchase Requests</h1>
  <a href="/purchases/new">Create New Purchase Request</a>
</body>
</html>
