
<!DOCTYPE html>
<html>
<head>
  <title>New Purchase Request</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Create New Purchase Request</h1>
  <form action="/purchases" method="POST">
    <label for="number">Request Number:</label>
    <input type="text" id="number" name="number" required><br>

    <label for="designation">Designation:</label>
    <input type="text" id="designation" name="designation" required><br>

    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity" required><br>

    <label for="requester">Requester:</label>
    <input type="text" id="requester" name="requester" required><br>

    <label for="verifier">Verifier:</label>
    <input type="text" id="verifier" name="verifier" required><br>

    <label for="approver">Approver:</label>
    <input type="text" id="approver" name="approver" required><br>

    <label for="isIT">Is IT Product:</label>
    <input type="checkbox" id="isIT" name="isIT"><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>
